/** RESPONSIVE **/
@media screen and (min-width: 768px){
    html{
        max-width: 1440px;
    }
    .container {
        padding: 0 146px;
    }
    
    .header-menu{
        display: flex;
        flex-direction: row;
        list-style-type: none;
    }
    #nav-menu{
        display: flex;
    }
    
    .logo-img{
        width: 216px;
        height: auto;
    }

    .hero-header img{
        width: 100%;
        height: 966px;
        overflow: hidden;
    }
    .hero-header h1{
        font-size: 96px;
        align-items: center;
        /* voir pour mettre ne auto et pas en px titre */
    }

    .filters {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .filters .filter {
        width: 33%;
    }

    .filters .sort {
        display: flex;
        justify-content: end;
    }

    #category-filter,
    #format-filter,
    #date-sort{
        border-radius: 8px;
        border: 1.3px solid var(--Blues-Gray2, #B8BBC2);
        background: var(--White, #FFF);
        padding: 11px 18px 11px 18px;
    }

    .filters .category-format > div:first-child{
        margin-right: 36px;
    }

    .filters .category-format { 
        flex-wrap: nowrap;
    }

    .gallery {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    /* FOOTER */
    .footer{
        display:flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: 40px;
        bottom: 0;
        border-top: 1px solid #000;
        padding:1px 0 8px 0 ;
    }
    .footer-menu {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        list-style-type: none;
        
    }
    
    
    .menu-footer li a{
        color: #000;
        font-family: 'Space Mono' , monospace;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        margin-right: 86px;
        text-decoration: none;
    }
    nav p{
        font-family: 'Space Mono' , monospace;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }
    .menu-footer a:hover{
        font-weight: 700;
        transition-duration: 0.3s;
    }

    .arrow{
        color: #000;
        width: 25px;
        padding-left: 15px;
    }
    .arrow:hover{
        transform: scale(1.3);
    }

    .mobil-close{
        display: none;
    }

}
